BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
DATABASE_URL=
FRONTEND_URL=
GEMINI_API_KEY=
JWT_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
VITE_GOOGLE_CLIENT_ID=
VITE_RAZORPAY_KEY_ID=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=